.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header .brand{
  width: 20%;
  float: left;
  height: auto;
}
.products-wrapper{
  display: flex;
  flex-direction: column;
}
.products-wrapper .products{
  width: 100%;
}
.products-wrapper .products .product{
  width: 100%;
  float: left;
}
.products-wrapper .products .product .product-image{
  width: 40%;  
}
.products-wrapper .products .product .product-image img{
  width: 90%;
  float: left;    
  height: auto;
}
.products-wrapper .products .product .product-name{
  width: 30%;
  float: left; 
  
}
.products-wrapper .products .product .product-price{
  width: 10%;
  float: left;    
  color:orange;
  
}
header h1{
  text-align:center;
  color:#fff;
}
header{
  background-color:#39464f;
}
.quantity{
  width: 50px;
}
.info{
  width: 100%;
}
a{
  text-decoration:none;
}
.stepper-input{
  float:right;
}
.content-info{
  width: 60%;
}
footer{
  position: fixed;
  bottom:0;
  display:inline-flex;  
  background-color:#ff2f00;
  width: 100%;
  color:#fff;
}